<div class="content">
	<div class="container">
		<div class="desc">
			<h1>Products</h1>
			<div class="todo"></div>
		</div>
		<!-- content here -->
		<div class="product-grid product-grid--flexbox">
			<div class="product-grid__wrapper">
				<!-- Product list start here -->
				<!-- Single product -->
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://images.apple.com/euro/macbook/a/screens/specs/images/finish_silver_large.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">MacBook Air</span>
						<span class="product-grid__price">Rs.1,13,099</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Be free to create, connect and share in more ways with the new MacBook Air. With the latest technology and an ultra thin and light design, this powerful PC is the one device for everything you're into.</p>
								<span class="product-grid__btn product-grid__add-to-cart">
									<i class="fa fa-cart-arrow-down"></i> Add to cart
								</span>
								<span class="product-grid__btn product-grid__view">
									<i class="fa fa-eye"></i> View more
								</span>
							</div>
						</div>
					</div>
				</div>
				<!-- end Single product -->
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://images.apple.com/euro/macbook/a/screens/specs/images/finish_silver_large.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">MacBook Air</span>
						<span class="product-grid__price">Rs.1,13,099</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Be free to create, connect and share in more ways with the new MacBook Air. With the latest technology and an ultra thin and light design, this powerful PC is the one device for everything you're into.</p>
								<span class="product-grid__btn product-grid__add-to-cart">
									<i class="fa fa-cart-arrow-down"></i> Add to cart
								</span>
								<span class="product-grid__btn product-grid__view">
									<i class="fa fa-eye"></i> View more
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src="https://images.apple.com/euro/macbook/a/screens/specs/images/finish_silver_large.jpg" alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">MacBook Air</span>
						<span class="product-grid__price">Rs.1,13,099</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">Be free to create, connect and share in more ways with the new MacBook Air. With the latest technology and an ultra thin and light design, this powerful PC is the one device for everything you're into.</p>
								<span class="product-grid__btn product-grid__add-to-cart">
									<i class="fa fa-cart-arrow-down"></i> Add to cart
								</span>
								<span class="product-grid__btn product-grid__view">
									<i class="fa fa-eye"></i> View more
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <a class="btnpaymenrt" routerLink="app/actions/showbanklist">Make Payment</a>
</div>