
		
<div class="div" style=" float: left; width: 100%">
	<div class="div" style="width: 500px; margin:20vh auto" >
		<h2>Choose account number </h2>
		<div class="radio">
			<label>
				<input type="radio" name="optradio" checked>Axis bank
					<br>573947194759392
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optradio" checked>Axis bank
							<br>573947194759392
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optradio" checked>Axis bank
									<br>573947194759392
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optradio" checked>Axis bank
											<br>573947194759392
											</label>
										</div>
										<button mat-raised-button primary style="color:black; background: green" (click)="getuserinput()">Proceed</button>
  
									</div>
								</div>