<div class="div" style=" float: left; width: 100%">
  <div class="div" style="width: 500px; margin:20vh auto" >
<h2>Choose payment method</h2>
<div class="radio">
    <label><input type="radio" name="optradio">Credit Card</label>
  </div>
<div class="radio">
    <label><input type="radio" name="optradio">Debit card</label>
  </div>
<div class="radio">
    <label><input type="radio" name="optradio">Net banking</label>
  </div>
<div class="radio">
    <label><input type="radio" name="optradio">COD</label>
  </div>
  <button mat-raised-button primary style="color:black; background: green" (click)="makePayment()">Proceed</button>
  
  </div>
</div>
